/* Custom color variable */
:root {
    --nice-blue: #53a6ff;
}

/* White backgrounds hurt my eyes. Default to black bg, white font. */
* {
    background-color: black;
    color: white;

    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 36px;
    font-weight: bold;

    padding: 20px 20px 20px 20px;
    margin: 20px 20px 20px 20px;
}

/*  */
.white-bubble {
    display: inline-block;
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 25px;
}






/*  */
#stop-quiz-button {
    float: left;
}

#try-again-button {
    float: left;
}

#time-left {
    float: right;
}